@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html {
  scroll-behavior: smooth;
}

* {
  transition: color, background-color 0.2s linear;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.glow {
  position: relative;
  color: white;
  border: 0;
}

.glow:before {
  content: "";
  border-radius: inherit;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  inset: -4%;
  animation: spin 2.5s linear infinite;
}

.glow::after {
  position: absolute;
  content: "";
  inset: -1%;
  z-index: -1;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(40px);
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

@layer components {
  .primary-gr {
    @apply bg-gradient-to-br border-none from-[#4e00c2] to-[#3c67e3] dark:from-rose-600 dark:to-white;
  }
}
